/*?font-family: 'Roboto', sans-serif; font-family: 'Raleway', ans-serif;*/
body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-hero {
  display: flex;
  align-items: center;
}


.logo {
  color: #4d5ae5;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  align-items: center;
  flex-shrink: 0;
}

.logo-part {
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-item {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.nav:hover,
.nav:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  text-decoration: none;
  color: #434455;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  margin-right: 40px;
}

.address-link:last-child {
  margin-right: 0;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/*? ---section 1--- */

.hero-title {
  background: #2e2f42;
  padding: 188px 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}

.button {
  display: block;
  background: var(--IRIS, #4d5ae5);
  color: white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 48px;
  display: inline-flex;
  padding: 16px 32px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
  border: none;
  display: block;
  min-width: 169px
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*? ---section 2--- */

.text-section-2 {
  padding: 120px 0;
}

.list-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.box-text {
  max-width: 264px;
  width: calc((100% - 72) / 4);
}

.hero-text-s2 {
  color: var(--color-sub-title);
  margin-bottom: 8px;
}

.hero-text-p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  max-width: 264px;
  padding-top: 8px;
}

/*? --- Section 3 - "Our Team" --- */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-title {
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.our-team-item {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-team{
  padding: 32px 0;
}

.name-team {
  margin-bottom: 8px;
  text-align: center;
}

.team-p {
  text-align: center;
}

/*? --- Section 4 - "Our Portfolio" --- */

.portfolio {
  background: #FFF;
  padding: 120px 0;
}

.portfolio-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
  margin: 0;

}

.portfolio-item {
  width: calc((100% - 44) / 3);
  border: 1px solid var(--CORNFLOWER, #E7E9FC);
  max-width: 360px;
}


.card-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin: 8px 0;
}

.portfolio-headings {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.2px;
}

/*? ---  "footer" --- */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  word-wrap: break-word;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-part {
  text-decoration: none;
  color: #f4f4fd;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  word-wrap: break-word;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  color: var(--color-footer-tx);
  max-width: 264px;
}

.hero-text {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}
