/*?font-family: 'Roboto', sans-serif; font-family: 'Raleway', ans-serif;*/
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul{
    list-style: none;
}

.logo{
color: #4d5ae5;
text-decoration: none;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
}

.logo-part{
color: #2e2f42;
text-decoration: none;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: left;
}

.nav{
color: #2E2F42;
text-decoration: none;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}

.address{
color: #434455;
font-family: "Roboto", sans-serif;
font-style: normal;
text-decoration: none;
font-size: 16px;
font-weight: 400;
line-height: 1.50;  
letter-spacing: 0.02em;
text-align: left;
}

.hero-title{
background: #2E2F42;
}

.title{
color: white;
font-family: "Roboto", sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
}

.button{
background-color: #4d5ae5;
color: white;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.button:hover,
.button:focus{
background-color: #404BBF;
}

.hero-text{
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
word-wrap: break-word
}


.our-team-background{
    background-color: #F4F4FD;
}

.our-team{
text-align: center;
text-transform: capitalize;
color: #2E2F42;
font-family: "Roboto", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
}

.team-list {
    background-color: #FFFFFF;
}

.our-portfolio{
text-align: center;
color: #2E2F42;
font-size: 36px;
font-family: "Roboto", sans-serif;
font-weight: 700;
text-transform: capitalize;
line-height: 1.11;
letter-spacing: 0.02em;
word-wrap: break-word
}

.text-portfolio{
text-align: center;
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
word-wrap: break-word
}

.footer-color{
background-color: #2E2F42;
}

.footer-logo{
color: #4D5AE5;
font-size: 18px;
font-family: "Raleway", sans-serif;
font-weight: 700;
text-transform: uppercase;
line-height: 1.16;
letter-spacing: 0.03em;
word-wrap: break-word
}

.footer-logo-part{

color: #F4F4FD;
font-size: 18px;
font-family: "Raleway", sans-serif;
font-weight: 700;
text-transform: uppercase;
line-height: 1.16;
letter-spacing: 0.03em;
word-wrap: break-word
}

.footer-text{

color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
word-wrap: break-word
}

p {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
    }