/*?font-family: 'Roboto', sans-serif; font-family: 'Raleway', ans-serif;*/
body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

.logo{
color: blue;
text-decoration: none;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: left;
}

.logo-part{
color: black;
text-decoration: none;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: left;
}

.nav{
color: black;
text-decoration: none;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}

.contacts{
color: black;
font-family: "Roboto", sans-serif;
font-style: normal;
text-decoration: none;
font-size: 16px;
font-weight: 400;
line-height: 1.50;  
letter-spacing: 0.02em;
text-align: left;
}

.hero-title{
background: #2E2F42;
}

.title{
color: white;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}

.button{
background-color: #4d5ae5;
color: white;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.hero-text{
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
word-wrap: break-word
}

p {
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
word-wrap: break-word
}

.our-team{
color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
}

.footer{
background-color: #2E2F42;
}

.footer-logo{
color: #4D5AE5;
text-decoration: none;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
word-wrap: break-word
}

.footer-logo-part{
color: #F4F4FD;
font-size: 18px;
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
word-wrap: break-word
}

.footer-text{

color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
word-wrap: break-word
}